/* Modal */
#modal-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#modal-wrap .overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  filter: alpha(opacity=80);
}

#modal-wrap .modal {
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
  width: 300px;
  overflow: hidden;
}

#modal-wrap .header {
	position:relative;
}

#modal-wrap .plate {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 5px solid #fff;
  overflow:hidden;
}

#modal-wrap .modal-close {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: url('gfx/icon-close.png') no-repeat center center;
  text-indent: -9999px;
}
